.logo-animation {
    position: absolute;
    top: 5%;
    left: 5%;
    animation: logo-animation 2s infinite;
}
  
@keyframes logo-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
}

.entrada {
    padding-top: 10%;
}

.salida {
    padding-top: 0% !important;
    text-align: center;
    font-size: 3em;
    line-height: normal;
    
}



@media (max-width:600px) {
   
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(176, 176, 242);
    justify-content: center;          
  }

  #texto-a-encriptar{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-align: center;
    width: 90%;
    height: 50%;
    background-color: transparent;
    border: none;
    margin-top: 90px;
  }

  .btnEncriptar, .btnDesencriptar{
    color: white;
    background-color: rgb(27, 10, 152);
    font-size: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    align-self: center;
  
  }

   

  #texto-encriptado{
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(240, 9, 9);
    text-align: center;
    width: 90%;
    height: 50%;
    background-color: transparent;
    border: none;
  }


  .entrada {
    background-color: #c1bcbc;
    height: 50%;
    text-align: center;
      
  }

  .entrada-container{
    height: 80%;
  }
  
  .munieco {
    max-width: 200px; /* Prevent the image from exceeding its original size (200px) */
  }

  .salida-container{
    height: 40% ;
  }

  .salida{
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    background-color: lightgray;
    margin-top: 1%;
    /*border: 2px solid rgb(176, 176, 242);
    border-radius: 2em 1em 2em 1em;*/
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  25px;
    text-align: center;
  }
}

@media (min-width:601px) {
    
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(172, 172, 169);
    height: 100vh; /* This will make the .main element take up the entire viewport height */
    width: 100%; /* This will make the .main element take up the entire viewport width */

  #texto-a-encriptar{
    font-size: 0.7em;
    font-weight: bold;
    color: blue;
    text-align: center;
    width: 85%;
    height: 70%;
    background-color: transparent;
    border: none;
    margin-top: 100px;
  }

  .btnEncriptar, .btnDesencriptar{

    color: rgb(255, 255, 255);
    background-color: rgb(86, 84, 98);
    font-size: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 20px;
   /* margin-top: 30px;*/
    align-self: center;

  }

  .btnEncriptar:hover, .btnDesencriptar:hover {
    background-color: rgb(3, 111, 30);
    cursor: pointer;
    transform: scale(1.1) translateY(-4px);
  /* box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 18px/0px, rgba(0,  0, 0, 0.9) -7px -7px 18px/0px;*/
}

  #texto-encriptado{
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(240, 9, 9);
    text-align: center;
    background-color: transparent;
    border: none;
   
  }

  .mensaje{
    width: 90%;
    height: 70%;
  }

  .entrada{
    -webkit-box-flex: 0.7;
    -ms-flex: 0.7;
    flex: 0.7;
    /*height: 740px;*/
    background-color: rgb(226, 224, 223);
    border: 5px solid rgb(179, 179, 177);
    border-radius: 50px;
    color: rgb(44, 44, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  40px;
    text-align: center;
  }

  .salida-container{
    height: 70% ;
  }

  .entrada-container{
    height: 450px;
  }

  .salida{
    -webkit-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;
    /*height: 400px;*/
    background-color: rgb(226, 224, 223);
    border: 5px solid rgb(179, 179, 177);
    border-radius: 50px;
    color: rgb(4, 65, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  40px;
    text-align: center;
  }
}
}