.main {
    display: table;
    width: 100%;
}
  
.main section {
    display: table-cell;
}

.entrada{
    background-color: aquamarine;
}

.salida{
    background-color: grey;
}

#campo-mensaje{
    background-color: red;
  
    border-radius: 8px;
    box-shadow: 0 6px
}

#texto-encriptado{
    font-size: 40px;
    font-weight: bold;
    color: blue;
    text-align: center;
    width: 700px
}
/* Encriptador - 1 Desktop */



